.container {
    width: 90%;
}
body {
    background-color: #fafafa;
}
.statstable tr td:last-child{
    width:1%;
    white-space:nowrap;
}
.statstable tr td:nth-last-child(2){
    width:1%;
    white-space:nowrap;
}
#autocomplete-div {
    z-index: 998;
    display: block;
    width: 98%;
    position: absolute;
}
.panel-header span {
    text-align: center;
}
.navbar .navbar-form{
    padding: 0 15px;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}