/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.3;
    font-family: monaco, "Lucida Console", monospace;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
	background-color: black;
}

div.containers{
	border: 1px solid white;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 1px;
	padding-right: 1px;
	background-color: #7f657f;
	color: white;
}
div.profile-containers{
	border: 1px solid white;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 1px;
	padding-right: 1px;
	background-color: #7f657f;
	color: white;
	width: 100%; 
	padding-right: 10px;
}
div.statGroup{
	border-style: solid;
	border-color: #00FF00/*#420f59*/;
	border-width: 1px/*4px 2px 2px 4px*/;
	margin: 6px 3px 0px 3px;
	font-size: 15px;
	padding: 5px 5px 5px 0px;
}

td.main{
	vertical-align:top;
}

table.leaderTable{
	width: 100%;
	text-align: center;
}
td.leaderTable{
	background-color: #420f59;
	border: 2px solid #7f657f;
	margin: 1px 1px 1px 1px;
}
td.leaderTableValue{
	background-color: #420f59;
	border: 2px solid #7f657f;
	margin: 1px 1px 1px 1px;
	color: #00FF00;
}

th.leaderTable{
	background-color: #420f59;
	border: 2px solid #7f657f;
	margin: 1px 1px 1px 1px;
}
th.header{
	background-color: #420f59;
	border: 2px solid #7f657f;
}

select{
	font-size: 14px;
}

a:link {color:#00FF00;}      /* unvisited link */
a:visited {color:#00FF00;}  /* visited link */
a:hover {color:#FF00FF;}  /* mouse over link */
a:active {color:#0000FF;}  /* selected link */

/*PROFILE PAGE STYLES*/
td.head{
	padding-left: 50px;
	padding-top: 3px;
	padding-bottom: 3px;
}
td.stat{
	text-align: right;
	padding-right: 20px;
	padding-left: 15px;
	background-color: #420f59;
	border: 2px solid #7f657f;
	margin: 1px 1px 1px 1px;
	width: 100px;
}
td.rank{
	text-align: center;
	padding-right: 25px;
	padding-left: 25px;
	background-color: #420f59;
	border: 2px solid #7f657f;
	margin: 1px 1px 1px 1px;
	color: #00FF00;
	width: 100px;
}

/*AUTOCOMPLETE STYLES*/
#autocomplete-div{
	z-index: 998;
}
div.autocomplete{
	z-index: 999;
	background-color: #420f59;
	color: white;
	position: relative;
	text-align: left;
	padding-left: 5px;
	margin-left: 3px;
	width: 80%;
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	
}

div.search-top{
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-top: 1px solid white;
	margin-top: 5px;
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 1px;
	padding-right: 1px;
	background-color: #7f657f;
	color: white;
	height: 70px;
}
div.search-bot{
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	margin-bottom: 5px;
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 1px;
	padding-right: 1px;
	background-color: #7f657f;
	text-align: center; 
	font-size: 12px; 
	color: white;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
