<div class="panel panel-default">
    <div class="panel-heading table-responsive text-center">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="pull-left">Leaderboard</h3>

                <div class="btn-group pull-right">
                    <a id="permalink-btn" class="btn btn-default btn-xs">Permalink</a>
                    <a href="http://tagpro-stats.com" id="permalink-txt" class="btn btn-xs hidden">http://tagpro-stats.com</a>
                    <button id="refresh-btn" class="btn btn-success btn-xs">Refresh</button>
                </div>
            </div>
        </div>
        <hr />
        <div class="row leaderboard-controls">
            <div class="col-lg-12">

                <div class="control-group">
                    <label class="control-label" for="SelectRange">Timeframe</label>

                    <div class="controls">
                        <select id="SelectRange" class="form-control">
                            <option value="all">All</option>
                            <option value="month">Monthly</option>
                            <option value="week">Weekly</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="SelectActive">Last Played</label>

                    <div class="controls">
                        <select id="SelectActive" class="form-control">
                            <option value="0" selected="selected">Anytime</option>
                            <option value="1">-1 Day</option>
                            <option value="3">-3 Days</option>
                            <option value="7">-7 Days</option>
                            <option value="30">-30 Days</option>
                            <option value="180">-180 Days</option>
                            <option value="365">-365 Days</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="SelectGame">Games</label>

                    <div class="controls">
                        <select id="SelectGame" class="form-control">
                            <option value="0">> 0</option>
                            <option value="10">> 10</option>
                            <option value="50">> 50</option>
                            <option value="100" selected="selected">> 100</option>
                            <option value="200">> 200</option>
                            <option value="500">> 500</option>
                            <option value="1000">> 1000</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="SelectStat">Sort By</label>

                    <div class="controls">
                        <select id="SelectStat" class="form-control">
                            <optgroup label="Win/Loss">
                                <option value="winpercent">Win %</option>
                                <option value="wins">Wins</option>
                                <option value="losses">Losses</option>
                                <option value="games">Games</option>
                                <option value="winpercentnodcs">Win % (DCs Excluded)</option>
                            </optgroup>
                            <optgroup label="Caps/Returns/Tags">
                                <option value="tags">Tags</option>
                                <option value="taggame">Tags/Game</option>
                                <option value="taghour">Tags/Hour</option>
                                <option value="returns">Returns</option>
                                <option value="returngame">Returns/Game</option>
                                <option value="returnhour">Returns/Hour</option>
                                <option value="captures">Captures</option>
                                <option value="capgame">Captures/Game</option>
                                <option value="caphour">Captures/Hour</option>
                            </optgroup>
                            <optgroup label="Grabs/Drops/Pops">
                                <option value="grabs">Grabs</option>
                                <option value="grabgame">Grabs/Game</option>
                                <option value="grabhour">Grabs/Hour</option>
                                <option value="drops">Drops</option>
                                <option value="dropgame">Drops/Game</option>
                                <option value="drophour">Drops/Hour</option>
                                <option value="popped">Popped</option>
                                <option value="popgame">Popped/Game</option>
                                <option value="pophour">Popped/Hour</option>
                            </optgroup>
                            <optgroup label="Hold/Prevent/Support">
                                <option value="hold">Hold</option>
                                <option value="holdgame">Hold/Game</option>
                                <option value="holdhour">Hold/Hour</option>
                                <option value="prevent">Prevent</option>
                                <option value="preventgame">Prevent/Game</option>
                                <option value="preventhour">Prevent/Hour</option>
                                <option value="support">Support</option>
                                <option value="supportgame">Support/Game</option>
                                <option value="supporthour">Support/Hour</option>
                            </optgroup>
                            <optgroup label="Miscellaneous">
                                <option value="capgrab">Captures/Grab</option>
                                <option value="tagpop">Tag/Pop Ratio</option>
                                <option value="holdgrab">Hold/Grab</option>
                                <option value="nrtags">Non-Return Tags</option>
                                <option value="nrtagsgame">Non-Return Tags/Game</option>
                                <option value="nrtagshour">Non-Return Tags/Hour</option>
                                <option value="keptflags">Kept Flags</option>
                            </optgroup>
                            <optgroup label="Points/Hours/DCs">
                                <option value="points">Rank Points</option>
                                <option value="pointgame">Rank Points/Game</option>
                                <option value="pointhour">Rank Points/Hour</option>
                                <option value="hours">Hours</option>
                                <option value="hourgame">Minutes/Game</option>
                                <option value="dcs">Disconnects</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="SelectRow">Length</label>

                    <div class="controls">
                        <select id="SelectRow" class="form-control">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100" selected="selected">100</option>
                            <option value="250">250</option>
                            <option value="500">500</option>
                            <option value="1000">1000</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="SelectOrder">Ordering</label>

                    <div class="controls">
                        <select id="SelectOrder" class="form-control">
                            <option value="desc">Descending</option>
                            <option value="asc">Ascending</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="panel-body table-responsive" id="LeaderBoard">
        <img src="../img/ajax-loader.gif">
    </div>
</div>
